#
# This is an example of `.env` file.
# Please create your own `.env` file with the params are listed here.
#

# Variables for docker-compose.yml

COMPOSE_PROJECT_NAME=tipsGrammBackendServices

SERVER_HOME=./

# PHP mode (dev|prod)
PHP_ENV=dev
PHP_IMAGE_VERSION=dev

# Application mode (dev|prod)
APP_ENV=dev

WAIT_FOR_IT_TIMEOUT=30

# Postgres super user
POSTGRES_USER=postgres
POSTGRES_PASSWORD=passwd

# The owner of project databeses
DB_DEFAULT_GROUP=dev-admin-group
DB_DEFAULT_USER=dev-admin
DB_DEFAULT_PASS=dev-admin-passwd

DB_READONLY_GROUP=dev-readonly-group
DB_READONLY_USER=dev-readonly
DB_READONLY_PASS=dev-readonly-passwd

# All available hosted ports
PORT_POSTGRES=5432
PORT_CLIENT_HTTP=80
PORT_CLIENT_HTTPS=443
PORT_RABBITMQ=5672
PORT_RABBITMQ_MNG=15672

KAFKA_BROKERS=broker:9091